*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial,sans-serif;
}

body{
    background:#0b1020;
    color:white;
    text-align:center;
}

header{
    background:#111827;
    padding:60px 20px;
}

h1{
    color:#00d4ff;
}

section{
    padding:50px 20px;
}

.btn{
    display:inline-block;
    padding:15px 30px;
    background:#00d4ff;
    color:#000;
    text-decoration:none;
    border-radius:8px;
    font-weight:bold;
}

.btn:hover{
    background:#00a8cc;
}

footer{
    padding:20px;
    background:#111827;
}
